<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xây dựng CSDL cho hệ thống nhắn tin trực tuyến</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <script type="text/javascript" src="jquery-3.5.1.min.js"></script>
    <script src="https://chatingappcualoc.herokuapp.com/socket.io/socket.io.js/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="config-login.js"></script>
</head>
<body>
    <div class="container">
        <div class="row all">

            <div class="col-3 left">
                
            </div>
                
            <div class="col-6 form-box">
                <h2 class="title-login/"> <strong>Đăng nhập</strong> </h2>
                <form action="./config-login" method="POST">
                    <input class="form-control" type="text" name="txtUsername" id="txtUsername" placeholder="Tên đăng nhập" required/>
                    <input class="form-control" type="password" name="txtPassword" id="txtPassword" placeholder="Mật khẩu" required/>
                    <input class="form-control" type="submit" name="btnLogin" value="Dô" id="btnLogin"/>
                </form>
                <div class="help">
                    <a href="/register">chưa có tài khoản?</a><a href="#">quên mật khẩu</a>
                </div>
            </div>

            <div class="col-3 right"></div>

        </div>
    </div>
</body>
</html>