* {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background: #d0d3d9;
}
.icon{
    padding: 10px;
    width: fit-content;
    margin-top: 5px;
    margin-left: auto;
    background: silver;
    border: none;
    border-radius: 50%;
}
.count-notify{
    font-size: 10px;
    color: red;
}
#avt-notifty{
    border-radius: 50%;
    width: fit-content;
    margin: auto;
    padding: 0;
}
.notify-contents:hover{
    background: none;
}
.notify{
    margin-bottom: 10px;
    font-size: 12px;
}
.notify-content{
    width:fit-content;
    overflow:hidden;
    height:30px;
    line-height:20px;
}
.btnKb{
    padding: 5px;
    width: fit-content;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background: #d1c0be;
}
.user{
    order: -1;
}
.list-friends{
    background-color: #d0d3d9;
}
.list-item{
    width: 100%;
    height: 650px;
    background: #fff;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
    margin-top: 10px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll auto;
}
#titleUser{
    text-align: center;
    font-style: oblique;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background:  #d0d3d9;
}
.name-friend{
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border: 2px;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    user-select: none;
}
.name-friend-bold{
    padding: 10px;
    text-align: center;
    font-size: 13px;
    border: 2px;
    border-radius: 15px;
    background: #fff;
    width: 100%;
    user-select: none;
    font-weight: bold;
}
.name-friend:hover{
    background-color: bisque;
}
.name-friend:active{
    background-color: coral;
}
.chatbox{
    background-color:#d0d3d9;
    width: 100%;
    height: 630px;
    padding: 10px;
    margin: 5px auto;
}
.chatlogs{
    padding: 10px;
    width: 100%;
    height: 550px;
    background-color: silver;
    overflow-x: hidden;
    overflow-y: scroll auto;
    border-radius: 20px;
}
.chatlogs::-webkit-scrollbar{
    width: 10px;
}
.chatlogs::-webkit-scrollbar{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}
.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px; 
}
.chat .user-photo{
    width: 60px;
    height: 60px;
    background-color: tomato;
    border-radius: 50%;
    overflow: hidden;
}
.chat .user-photo img{
    width: 100%;
}
.chat .chat-message{
    width: 70%;
    padding: 15px;
    margin: 0px 10px 0;
    background: #1ddced;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;    
}
.friend .chat-message{
    background: yellowgreen;
    max-width: fit-content;
    min-width: 10px;
    width: 70%;
}
.self .chat-message{
    background: #8c8382;
    order: -1;
    margin-left: auto;
    max-width: fit-content;
    min-width: 10px;
    width: 70%;
}
.chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}
.chat-form textarea{
    width: 75%;
    height: 50px;
    border: 2px solid #1ddced;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
}
.chat-form textarea::-webkit-scrollbar{
    width: 10px;
}
.chat-form textarea::-webkit-scrollbar{
    border-radius: 5px;
    background: rgba(0,0,0,.1);
}
.chat-form textarea:focus{
    background-color: ivory;
}
.chat-form button{
    background: lightblue;
    padding: 5px 15px;
    font-size: 26px;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 0 10px;

    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
}
.chat-form button:hover{
    background: #13c8d9;
}
.control-chat{
    background-color: tan;
}

input{
    padding: 5px;
    margin: 10px;
}
.form-box{
    background-color: white;
    width: 100%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll auto;
}
.title-register{
    text-align: center;
}
#nhacloi{
    font-size: 12px;
    color: red;
    font-style: italic;
}
#btnRegister{
    background-color: black;
    color: white;
}
.header-box{
    height: 50px;
    width: 100%;
}
.search-box{
    width: 60%;
    margin: auto;
}
#txtSearchfriend{
    width: 100%;
    margin: auto;
}
.self-info{
    width: 100%;
    margin: auto;
    align-items: flex-start;
}
.self-avt{
    border-radius: 50%;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background: lawngreen;
}
.self-name{
    
}

/* Modal body */
.modal-body{
    background: #d0d3d9;
}
#boxFriend{
    width: 300px;
    margin: auto;
    border-radius: 5px;
}
.infoFriend span{
    width: 100%;
    margin: auto;
    float: left;
}
#btnAddfriend{
    width: fit-content;
    height: fit-content;
    font-size: 13px;
}
#btnAddfriend:hover{
    background-color: thistle;
    color: teal;
}
#btnAddfriend:active{
    background-color: purple;
    color: white;
}
.selfInfo{
    padding-left: 60px;
    font-size: 16px;
}
.icon-del-friend{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    order: -1;
}